<!DOCTYPE html>
 <html> 
  <head>
    <title>Detail ACRA Node Server</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<script>
function myFunction() {

	$('#myModal').modal('show');

}

function close() {

	$('#myModal').modal('hide');
}

function deleteYes() {
	close();
	window.location = "/logs/<%= appid %>/<%= log._id %>/delete";
}
</script>
  </head>
  <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-wilih: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>

<body> 


   
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Detail</a>
    <ul class="nav">
	  <li><a href="/mobiles">Select App</a></li>
	  <li><a href="/logs/<%= appid %>">Logs App</a></li>
	  <li><a href="/logsexport/<%= appid %>/<%= log._id  %>">Export log (json format)</a></li>
	  <li ><a href="/logout">Logout</a></li>
  </div>
</div>
   
   
<div style="margin-top:10px;margin-bottom:10px;margin-right:20px;margin-left:20px;">
<br>
    <button class="btn btn-primary" type="button" onclick="javascript:myFunction()">
      Delete
    </button>
<%= log  %>
</div>

<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Delete log</h3>
  </div>
  <div class="modal-body">
    <p>Do you what delete this log?</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:close()" class="btn">Close</a>
    <a href="javascript:deleteYes()" class="btn btn-primary">Delete</a>
  </div>
</div>




 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.9.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/prettyprint.js"></script>

</body> 
</html> 


